scanComment=This is a scan comment
#gradle.runPreStep=true
#gradle.ignoredScopes=
#gradle.resolveDependencies=false
#gradle.runAssembleCommand=true
#gradle.runPreStep=true
#gradle.ignoreSourceFiles=true
#gradle.aggregateModules=true
#gradle.preferredEnvironment=wrapper
#gradle.localRepositoryPath=
#gradle.wrapperPath=
#gradle.downloadMissingDependencies=false
#gradle.additionalArguments=
#gradle.includedScopes=
#gradle.excludeModules=
#gradle.includeModules=
#gradle.includedConfigurations=
#gradle.ignoredConfigurations=
